@charset "EUC-KR";

body {
    padding: 0;
    margin: 0;
    height : 300vh;
}

html {
   /* font-size: 20px; */
}

.a-link {
    text-decoration: none; color: black;    
}


#product-list-container {
    
    width: 80vw;
    height: 240vh;
    display: grid;
    /* background-color: cornflowerblue; */

    grid-template-rows: 60vh 60vh 60vh 60vh;
    grid-template-columns: 20vw 20vw 20vw 20vw;
}


.product {
    background-color: white;
    border: 1px solid black;
    /* width: 50vh; */
    margin: 2vh 1vw;        
}


#list-paging-set {
    
    /* position: absolute; */
    top: 80vh;
    left: 10vw;
    
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 280vh;
    /* background-color : orange; */
}

#paging-container {
    margin-top: 5vh;
    height: 13vh;
    width: 80vw;
    /* background-color : yellow; */
}

.prod-img {
    border : 1px solid black;
    width: 18vw;
    height: 28vh;
}

#paging-container{

}

.pagination{
    justify-content: center;
}



/* 드롭다운 */

.dropdown{
  position : relative;
  display : inline-block;
}

.dropbtn{
  border : none;
  /* border-radius : 4px; */
  /* background-color: #f5f5f5; */
  /* font-weight: 600; */
  color : rgb(37, 37, 37);
  /* padding : 12px;
  width :200px; */
  text-align: left;
  cursor : pointer;
  background-color: transparent;
}

.dropdown-content{
  display : none;
  position : absolute;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  font-weight: 400;
  background-color: #f9f9f9;
  min-width : 10%;
}

.dropdown-content a{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  padding : 12px 20px;
}

.dropdown-content a:hover{
  background-color : #ececec
}

.dropdown:hover .dropdown-content {
  display: block;
}