@charset "EUC-KR";

body {
    padding: 0;
    margin: 0;
    height : 300vh;
}

html {
   /* font-size: 20px; */
}

#product-list-container {
    
    width: 80vw;
    height: 240vh;
    display: grid;
    /* background-color: cornflowerblue; */

    grid-template-rows: 60vh 60vh 60vh 60vh;
    grid-template-columns: 20vw 20vw 20vw 20vw;
}


.product {
    background-color: white;
    border: 1px solid black;
    /* width: 50vh; */
    margin: 2vh 1vw;        
}


#list-paging-set {
    
    position: absolute;
    top: 80vh;
    left: 10vw;
    
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 280vh;
    /* background-color : orange; */
}

#paging-container {
    margin-top: 5vh;
    height: 13vh;
    width: 80vw;
    /* background-color : yellow; */
}

.prod-img {
    border : 1px solid black;
    width: 18vw;
    height: 28vh;
}

#paging-container{

}

.pagination{
    justify-content: center;
}
