@charset "EUC-KR";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    
}


* {
    box-sizing: border-box;
}

.a-link {
	text-decoration: none;
	color: black;
}

.padding-btm-10 {
	padding-bottom : 10px;
}

.margin-right-10 {
	margin-right: 10px;
}


.margin-btm-10 {
	margin-btm: 10px;
}


button {
    border: 1px solid lightgray;
 }

.a-link {
    text-decoration: none; color: black;    
}

#prod-detail-container {
    display: flex;
    flex-direction: column;   
    width: 1000px;
    margin: auto;
    /* position : absolute;  */
   	/* top : 70vh; */
   	/* left: 15vw; */
}


.prod-detail {
	margin-top: 30px;
    border: solid 1px black;
    width: 1000px;
    padding: 30px;
}

#prod-info1 {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 400px;
}


#prod-detail-nav {
	width: 1000px;
    height: 60px;
    display: flex;
    flex-direction: row;
    position: sticky;
    padding: 0;
    border: none;
}

#prod-seller {
    position: relative;
    height: 200px;
   	padding: 30px;
}


#prod-info2 {
	display: flex;
	flex-direction: column;
    padding: 30px 20px;
    margin-top: 0;
}


#prod-review {
    display: flex;
    flex-direction: column;
}

#prod-comment {
    display: flex;
    flex-direction: column;
}


/*

#prod-img {
	width: 350px;
	height: 350px; 
    border: solid black 1px;
    position: relative;
}


*/


#prod-info1-simple {
    margin-left: 6vh;
    width: 70vh;
    height: 55vh;
}

div[id^=prod-info1] {
	padding: 2vh;    
}


#prod-info1-name {

}

#prod-info1-price {
    font-size: 5vh;
    font-weight: 600;
}

#prod-info1-sell-status {
	
}

#prod-info1-heart {
    position: absolute;
    bottom: 10vh;
    right: 10vh;
}


#seller-img{
	width : 25vh;
	height : 25vh;
	border : 1px solid black;
	border-radius: 1000px;
	position: absolute;
}
 
#seller-nickname{
	font-weight : 600;
	font-size : 3.3vh;
} 

#seller-phone{
}
 
#seller-contact{

}

#seller-follow {
    
}


#seller-account {
}

#seller-table {
	position : relative;  
	left : 30%;
	top: 3%;
}

.seller-td {
	padding-bottom : 2vh;	
}


[id^=prod-detail-nav-prod] {
    width: 33.3vw;
    border: 1px solid black;
    /*background-color: rgb(96, 152, 255);*/
    z-index: 2147483647;
}

.z-index-under-nav {
    position : relative;
    z-index: 1;
}


#prod-detail-nav-prod-info  {

}

#prod-detail-nav-prod-review  {
	width: 34.4vw;
}

#prod-detail-nav-prod-comment  {

}







#prod-review-picture-container {
    display: flex;
    height: 19vh;
    background-color: lightgray;
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.prod-review-picture {
    width: 20vh;
    height: 19vh;
    background-color: gray;
    margin: 0 0.5vh;
}

.review-container:first-child {
	border-top: 1px solid #dddddd;
}


.review-container {
	padding: 10vh;
	display : flex;
	flex-direction : column;
	
    border-bottom: 1px solid #dddddd; 
}







[class^=prod-review] {
}

.prod-review-user-profile {	
	width: 8vh;
    height: 8vh;
    border-radius: 500px;

}

.review-info-container {
	width: 50vw;
	margin-bottom : 3vh;
}









#prod-comment-input {
    padding-right: 1vw;
    padding-left: 1vw;
    padding-top: 6vh;
    padding-bottom: 6vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 27vh;
    
}

#prod-comment-input-btn {
    width: 9vw;  
    height: 15vh;   
}

#prod-comment-textarea, .comment-reply-textarea {
    width: 51vw;
    height: 15vh;
    resize: none;
}



#comment-secret-div {
    width: 8vw;
}

#comment-secret-div > label {
	font-size: 1.2vw;
	line-height : 15vh; 
	vertical-align : middle;
	text-align : center;
}


/*----------------------------占쏙옙占쌘듸옙占??------------------------------*/


.comment-title:first-child{
    border-top: 1px solid #dddddd;
  }

  
.comment-title{
    position: relative;
    padding: 2vh 2vw;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #dddddd;
}


.comment-title.on > span{
    font-weight: bold;
    color: rgb(0, 76, 255); 
}
  
.comment-content {
    display: none;
    overflow: hidden;
    font-size: 14px;
    background-color: #f4f4f2;
    padding: 5vh 2vw;
}

/*-----------------------------------------------------------------*/

.pagination{
	margin-top : 3vh;
    justify-content: center;
    
}

.page-link {
	user-select:none;
	
}

#review-write-popup-btn-area {
	height : 15vh;
	text-align : right; 
	padding-top: 10vh;
	padding-right : 2vw;
}


#review-write-popup-btn {
	width : 10vw;
	
}


.review-pic-cont {
    display: flex; 
    flex-direction: row;
}

.review-pic {
    width: 10vh; 
    height: 10vh;
    margin-left: 0.5vh;
}



