<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.farmocean.mypage.mapper.MessageMapper">

   <select id="getList" resultType="com.ezen.farmocean.mypage.dto.MessageBox">
   		SELECT * FROM messageBox
   </select>
   
   <select id="getMyList" resultType="com.ezen.farmocean.mypage.dto.MessageBox">
   		SELECT * FROM messageBox WHERE recipient_id = #{id} order by message_date desc
   </select>
   
   <select id="getMySendList" resultType="com.ezen.farmocean.mypage.dto.MessageBox">
   		SELECT * FROM SendMessageBox WHERE SENDER_ID = #{id} order by message_date desc
   </select>
   
   <select id="getReadMyMessage" resultType="com.ezen.farmocean.mypage.dto.MessageBox">
   		SELECT * FROM messageBox WHERE MESSAGE_ID = #{id}
   </select>
   
   <update id="getUpdateReadMyMessage">
   		UPDATE messageBox SET message_check = 1, readmessage_date = sysdate WHERE message_id = #{id}
   </update>
   
   <update id="getUpdateReadMyMessage2">
   		UPDATE SendMessageBox SET message_check = 1, readmessage_date = sysdate WHERE message_id = #{id}
   </update>
   
   <insert id="getSendMessage">
   		INSERT INTO messageBox VALUES (messageBox_seq.nextval, #{myId}, #{id}, #{title}, #{content}, sysdate, 0, null)
   </insert>
   
   <insert id="getSendMessage2">
   		INSERT INTO SendMessageBox VALUES (SendMessageBox_seq.nextval, #{myId2}, #{id2}, #{title2}, #{content2}, sysdate, 0, null)
   </insert>
   
   <delete id="getDeleteMessage">
    	delete from messageBox where message_id = #{id}
   </delete>
   
   <delete id="getDeleteSendMessage">
    	delete from SendMessageBox where message_id = #{id}
   </delete>
   
   <select id="getMemberList" resultType="com.ezen.farmocean.member.dto.Member">
   		SELECT * FROM MEMBERS where MEMBER_ID = #{id}
   </select>
   
   <select id="getNickNameMember" resultType="com.ezen.farmocean.member.dto.Member">
   		SELECT * FROM MEMBERS where MEMBER_NICKNAME = #{nickname}
   </select>
   
   <update id="getUpdateinfo">
   		UPDATE MEMBERS SET member_pw = #{member_pw}, member_nickName = #{member_nickName},
   		member_email = #{member_email}, member_address = #{member_address}, member_phoneNum = #{member_phoneNum}, 
   		member_accountNum = #{member_accountNum} WHERE member_id = #{member_id}
   </update>
   
   <update id="getUpdateinfoB">
   		UPDATE MEMBERS SET member_pw = #{member_pw}, member_nickName = #{member_nickName},
   		member_email = #{member_email}, member_address = #{member_address} WHERE member_id = #{member_id}
   </update>

   <select id="getAllMember" resultType="com.ezen.farmocean.member.dto.Member">
   		SELECT * FROM MEMBERS
   </select>
   
   <update id="getUpdateImg">
   		UPDATE MEMBERS SET member_image = #{image} WHERE member_id = #{id}
   </update>
   
</mapper>