<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.farmocean.mypage.mapper.MessageMapper">

   <select id="getList" resultType="com.ezen.farmocean.mypage.dto.MessageBox">
   		SELECT * FROM messageBox
   </select>
   
   <select id="getMyList" resultType="com.ezen.farmocean.mypage.dto.MessageBox">
   		SELECT * FROM messageBox WHERE recipient_id = #{id}
   </select>
   
   <select id="getMySendList" resultType="com.ezen.farmocean.mypage.dto.MessageBox">
   		SELECT * FROM messageBox WHERE SENDER_ID = #{id}
   </select>
   
   <select id="getSell" resultType="com.ezen.farmocean.member.dto.SellMember">
   		SELECT * FROM SELL_MEMBER where SELL_ID = #{id}
   </select>
   
   <select id="getBuy" resultType="com.ezen.farmocean.member.dto.SellMember">
   		SELECT * FROM BUY_MEMBER where BUY_ID = #{id}
   </select>
   
   
   
</mapper>