<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.farmocean.prod.mapper.EtcMapper">

	<select id="getMemberImageById" resultType="string">
		SELECT member_image FROM members WHERE member_id = #{member_id} 
	</select>

	<select id="getMemberIdByNickname" resultType="string">
		SELECT member_id FROM members WHERE member_nickname = #{member_nickname}
	</select>
	
	<select id="getFollow" resultType="com.ezen.farmocean.follow.dto.Follow">
		SELECT * FROM follow WHERE follower_id = #{follower_id} and followee_id = #{followee_id}
	</select>
	
</mapper>
