<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.farmocean.prod.mapper.ProdMapper">
	
	<insert id="insertProd">
		INSERT INTO prod_detail(prod_idx, sell_id, prod_name, prod_cate, prod_img, prod_price, prod_from, prod_sell, prod_sell_deadline, prod_info) 
		VALUES( prod_idx_seq.nextval, #{seller}, #{name}, #{cate}, #{img}, #{price}, #{from}, #{sell}, #{deadline}, #{content})
    </insert>
	
</mapper>
