<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.farmocean.prod.mapper.ProdMapper">
	
	<select id="getProductList" resultType="com.ezen.farmocean.prod.dto.Product">
		SELECT * FROM prod_detail
	</select>
	
	<select id="getProductById" resultType="com.ezen.farmocean.prod.dto.Product">
		SELECT * FROM prod_detail WHERE prod_idx = #{id}
	</select>

	<insert id="insertProduct">
		INSERT INTO prod_detail(prod_idx, sell_id, prod_name, prod_info, prod_cate, prod_price, prod_sell, prod_sell_deadline) 
		VALUES(prod_idx_seq, #{sellerId}, #{name}, #{info}, #{cate}, #{sell}, #{deadline})
	</insert>

	<update id="">
		UPDATE prod_detail 
		SET prod_name = #{name}, 
			prod_info = #{info},
			prod_cate = #{cate}, 
			prod_price = #{price}, 
			prod_sell = #{sell},
			prod_sell_deadline = #{deadline}
		WHERE prod_idx = #{id}
	</update>
	
	<delete id="updateProduct">
		DELETE FROM prod_detail WHERE prod_idx = #{id}
	</delete>

</mapper>
