<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.farmocean.member.mapper.MemberMapper">

	<select id="getMember" resultType="com.ezen.farmocean.member.dto.Member">
  		SELECT * FROM members WHERE member_id = #{member_id}
  	</select>
  	
  	
  	<select id="getList" resultType="com.ezen.farmocean.member.dto.Member">
  		SELECT * FROM members 
  	</select>
  	
  	<select id="nickNameCheck" resultType="com.ezen.farmocean.member.dto.Member">
  		SELECT * FROM members WHERE member_nickName = #{member_nickName}
  	</select>
  	
  	<insert id="insert" >
   		INSERT INTO members 
   		VALUES (
   		#{member_id}, #{member_pw}, #{member_name},#{member_nickName},
   		#{member_point}, #{member_email}, #{member_phoneNum},
   		#{member_accountNum},#{member_address},#{member_account_status},
   		#{member_type},#{member_image},#{member_report},SYSDATE,SYSDATE
   		)
  	</insert>
  	
  	
  	<select id="loginCheck" resultType="com.ezen.farmocean.member.dto.LoginMember">
		  select member_id, member_name, member_nickName, member_type
		  from members
		  where member_id=#{member_id} and member_pw=#{member_pw}
	 </select>
	 
 	<select id="naverLoginCheck" resultType="com.ezen.farmocean.member.dto.Member">
		  select *
		  from members
		  where member_id=#{member_id} and member_pw=#{member_pw}
	 </select>
	 
 	<select id="idSearch" resultType="com.ezen.farmocean.member.dto.Member">
		  select *
		  from members
		  where member_name=#{member_name} and member_email=#{member_email}
	 </select>
	 
	 <select id="pwSearch" resultType="com.ezen.farmocean.member.dto.Member">
		  select *
		  from members
		  where member_id=#{member_id} and member_email=#{member_email}
	 </select>
	 
  

</mapper>