<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.farmocean.member.mapper.MemberMapper">

	<select id="getMember" resultType="com.ezen.farmocean.member.dto.BuyMember">
  		SELECT * FROM buy_member WHERE buy_id = #{buy_id}
  	</select>
  	
  	<select id="getSeller" resultType="com.ezen.farmocean.member.dto.SellMember">
  		SELECT * FROM sell_member WHERE sell_id = #{sell_id}
  	</select>
  	
  	<select id="getList" resultType="com.ezen.farmocean.member.dto.BuyMember">
  		SELECT * FROM buy_member
  	</select>
  	
  	<select id="getSellerList" resultType="com.ezen.farmocean.member.dto.SellMember">
  		SELECT * FROM sell_member
  	</select>
  	
  	<insert id="insert" >
   		INSERT INTO buy_member VALUES (#{buy_id}, #{buy_pw}, #{buy_name}, #{buy_email}, #{buy_image},#{buy_point})
  	</insert>
  	
  	<insert id="insertSeller" >
   		INSERT INTO sell_member 
   		VALUES 
   		(#{sell_id}, #{sell_pw}, #{sell_name}, 
   		#{sell_email}, #{sell_phoneNum},#{sell_accountNum},#{sell_address},#{sell_image})
  	</insert>
  	
  	<select id="loginCheck" resultType="com.ezen.farmocean.member.dto.BuyMember">
		  select *
		  from buy_member
		  where buy_id=#{buy_id} and buy_pw=#{buy_pw}
	 </select>
	 
	 <select id="sellerLoginCheck" resultType="com.ezen.farmocean.member.dto.SellMember">
		  select *
		  from sell_member
		  where sell_id=#{sell_id} and sell_pw=#{sell_pw}
	 </select>
  	

</mapper>