<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.farmocean.prod.mapper.ProdMapper">
	
	<select id="getProductList" resultType="com.ezen.farmocean.prod.dto.Product">
		SELECT * FROM prod_detail WHERE prod_delete = 0 order by prod_sell_deadline desc
	</select>
	
	<select id="getProductById" resultType="com.ezen.farmocean.prod.dto.Product">
		SELECT * FROM prod_detail WHERE prod_idx = #{prod_idx} AND prod_delete = 0 order by prod_sell_deadline desc
	</select>
	
	<select id="getProductsByCate" resultType="com.ezen.farmocean.prod.dto.Product">
		SELECT * FROM prod_detail WHERE cate_idx = #{cate_idx} AND prod_delete = 0 order by prod_sell_deadline desc
	</select>

	<select id="getProductsByMemberId" resultType="com.ezen.farmocean.prod.dto.Product">
		SELECT * FROM prod_detail 
		WHERE member_id = #{member_id} AND prod_delete = 0	
	</select>		
	
	<select id="getProductsByName" resultType="com.ezen.farmocean.prod.dto.Product">
		select * from prod_detail 
		where prod_name like '%${prod_name}%' AND prod_delete = 0 order by prod_sell_deadline desc
	</select>

	<select id="getProdIdxByIdAndDate" resultType="int">
		select prod_idx from prod_detail where member_id = #{member_id} and prod_written_date = #{prod_written_date}
	</select>

	<select id="getSellerIdByProdIdx" resultType="string">
		select member_id from prod_detail where prod_idx = #{prod_idx}
	</select>


	<insert id="insertProduct">
		INSERT INTO prod_detail(prod_idx, member_id, prod_name, prod_info, cate_idx, prod_sell, prod_price, prod_sell_deadline, prod_stock, prod_delete, prod_heartnum, prod_written_date) 
		VALUES(prod_idx_seq.nextval, #{member_id}, #{prod_name}, #{prod_info}, #{cate_idx}, #{prod_sell}, #{prod_price}, #{prod_sell_deadline}, #{prod_stock}, 0, 0, #{prod_written_date})
	</insert>

	<insert id="addProduct">
		INSERT INTO prod_detail(prod_idx, member_id, prod_name, prod_info, cate_idx, prod_price, prod_sell_deadline, prod_stock, prod_delete, prod_heartnum, prod_written_date) 
		VALUES(prod_idx_seq.nextval, #{member_id}, #{prod_name}, #{prod_info}, #{cate_idx}, #{prod_price}, #{prod_sell_deadline}, #{prod_stock}, 0, 0, #{prod_written_date})
	</insert>

	<update id="updateProduct">
		UPDATE prod_detail 
		SET prod_name = #{prod_name}, 
			prod_info = #{prod_info},
			cate_idx = #{cate_idx}, 
			prod_sell = #{prod_sell},
			prod_price = #{prod_price}, 
			prod_sell_deadline = #{prod_sell_deadline},
			prod_stock = #{prod_stock},
			prod_delete = #{prod_delete},
			prod_written_date = #{prod_written_date}
		WHERE prod_idx = #{prod_idx}
	</update>

	<update id="editProduct">
		UPDATE prod_detail 
		SET prod_name = #{prod_name}, 
			prod_info = #{prod_info},
			cate_idx = #{cate_idx}, 
			prod_price = #{prod_price}, 
			prod_sell_deadline = #{prod_sell_deadline},
			prod_stock = #{prod_stock},
			prod_delete = #{prod_delete},
			prod_written_date = #{prod_written_date}			
		WHERE prod_idx = #{prod_idx}
	</update>

	
	<delete id="deleteProductById">
		DELETE FROM prod_detail WHERE prod_idx = #{prod_idx}
	</delete>





	<select id="getproductListForManager" resultType="com.ezen.farmocean.prod.dto.Product">
		SELECT * FROM prod_detail order by prod_sell_deadline desc
	</select>
	
	<select id="getProductListForSeller" resultType="com.ezen.farmocean.prod.dto.Product">
		SELECT * FROM prod_detail WHERE  order by prod_sell_deadline desc 
	</select>

	<update id="expireDeadline">
		update prod_detail set prod_sell_deadline = SYSTIMESTAMP where prod_idx = #{prod_idx}
	</update>

	<update id="updateProductDeleteToZeroByProdIdx">
		UPDATE prod_detail 
		SET prod_delete = 0
		WHERE prod_idx = #{prod_idx}
	</update>

	<update id="updateProductStatusHide">
		UPDATE prod_detail 
		SET prod_delete = 1
		WHERE prod_idx = #{prod_idx}
	</update>

	<update id="updateProductStatusDelete">
		UPDATE prod_detail 
		SET prod_delete = 2
		WHERE prod_idx = #{prod_idx}
	</update>






</mapper>


	