@charset "EUC-KR";
*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

/* 화면 전체 */
.wrapper {
	width: 100%;
}

/* content */
.wrap {
	width: 1280px;
	margin: auto;
}

/* 홈페이지 기능 네비 */
.top_gnb_area {
	width: 100%;
	height: 50px;
	background-color: lightgray;
	position: relative;
}
.top_gnb_area .list {
	position: absolute;
	top: 0px;
	right: 0;
}
.top_gnb_area .list li {
	list-style: none;
	float: left;
	padding: 13px 15px 0 10px;
	font-weight: 900;
	cursor: pointer;
}

/* 로고, 검색, 로그인 */
.top_area {
	width: 100%;
	height: 150px;
}

/* 로고 영역 */
.logo_area {
	width: 25%;
	height: 100%;
	background-color: pink;
	float: left;
}

/* 검색 영역*/
.search_area {
	width: 50%;
	height: 100%;
	/* background-color: yellow; */
	float: left;
}

.search_wrap {
	width: 100%;
    height: 100%;
}
#searchForm {
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_input {
    display: flex;
    height: 30%;
    width: 80%;	
}
.search_input select {
	width: 40%;
    text-align: center;
    font-size: 15px;	
}
.search_input input {
    margin-left: 10px;
    width: 57%;	
    font-size: 18px;
    padding-left: 2%;
}
.search_btn {
	margin-left: 10px;
    width: 17%;
    border-radius: 14px;
    font-size: 17px;
    font-weight: 600;	
}

/* 로그인 영역 */
.logo_area {
	width: 25%;
	height: 100%;
	display: inline-block;
	text-align: center;
}
.login_btn {
	height: 50%;
	/* background-color: blue; */
	margin-top: 30px;
	line-height: 77px;
	font-size: 40px;
	font-weight: 900;
	border-radius: 10px;
	cursor: pointer;
}
.login_area > span {
	margin-top: 10px;
	font-weight: 900;
	display: inline-block;
}
.login_btn {
	height: 50%;
	/* background-color: blue; */
	margin-top: 30px;
}

/* 제품 목록 네비 */
.navi_bar_area {
	overflow: hidden;
	background-color: white;
	border: solid 1px lightgray;
}
.navi_bar_area a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.dropdown {
	float: left;
	overflow: hidden;
	margin-left: 10px;
}
.dropdown .dropbtn {
	font-size: 16px;
	font-weight: bold;  
	border: none;
	outline: none;
	color: black;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	width:160px;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: inline-block;
	text-align: left;
	width: 128px;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.navi_bar_area a:hover, .dropdown:hover .dropbtn {
	background-color: #d6d4d6;
}

.dropdown-content a:hover {
	background-color: #d6d4d6;
}

/* 홈페이지 메인 제품 목록 */
.content_area {
	width: 100%;
	/* min-height: 5000px; */ /* 크기 조정 잘 하자 */
	height: 2500px;
	/* background-color: red; */
}
/* 슬라이드 화살표인데 표시가 안 되네..? */
.slick-prev{
	left: 160px;
    z-index: 1;
}
.slick-next{
	right: 160px;
    z-index: 1;
}

/* 상품 찜 순위 베스트 8 */
.ls_wrap{
    margin: 30px 0 30px 0;
    padding: 0 10px 0 10px;
}
.ls_div_content{
	width: 80%;
    margin: auto;
    height: 400px;
    border: 1px solid #dadada;
}
.image_wrap{
	width: 80%;
    height: 60%;
    margin: auto;
    padding: 5% 0 5% 0;
    display: flex;
    align-items: center;    
}
.ls_member_id{
	text-align: center;
    font-size: 13px;
    color: #3e74ab;
}
.ls_prod_price{
	text-align: center;
    font-size: 13px;
    color: #e15b6e;
}
.ls_prod_name{
	text-align: center;
    color: #333;
    font-size: 15px;
    font-weight: bold;
}
.ls_prod_stock{
	text-align: center;
    color: #333;
    font-size: 15px;

}
.ls_prod_sell{
	text-align: center;
    color: green;
    font-size: 15px;

}
.ls_prod_sell_deadline{
	text-align: center;
    color: #333;
    font-size: 15px;
    
}
.ls_div_subject{
	font-weight: bold;
	font-size: 26px;
	padding-bottom: 10px;
}

.ls_div_content_prev{
    position: absolute;
    top: 40%;
    width: 40px;
    height: 30px;
    left: 27px;
    font-weight: bold;
    z-index: 1;
    opacity: 35%;
}
.ls_div_content_prev:hover{
   opacity: 80%;
}
.ls_div_content_next{
    position: absolute;
    top: 40%;
    width: 40px;
    height: 30px;
    right: 27px;
    font-weight: bold;
    z-index: 1;
    opacity: 35%;
}
.ls_div_content_next:hover{
   opacity: 80%;
}

/* float 속성 해제*/
.clearfix {
	clear: both;
}

/* footer 네비 영역 */
.footer_nav {
    width: 100%;
    height: 50px;
}
.footer_nav_container {
    width: 100%;
    height: 100%;
    background-color: gray;
}
.footer_nav_container > ul {
    font-weight : bold;
    float: left;
    list-style: none;
    position: relative;
    padding-top: 10px;
    line-height: 27px;
    font-family: dotum;
    margin-left: 10px;
}
.footer_nav_container > ul > li {
    display: inline;
    width: 45px;
    height: 19px;
    padding: 10px 9px 0 10px;
}
.footer_nav_container > ul > span {
    margin: 0 4px;
}
/* footer 영역 */
.footer {
    width: 100%;
    height: 130px;
    background-color: lightgray;
    padding-bottom : 50px;
}
.footer_container {
    width: 100%;
    height: 100%;
    margin: auto;
}
.footer_left > img {
    width: 150%;
    height: 130px;
    margin-left: -20px;
    margin-top: -12px;
}
.footer_left {
    float :left;
    width: 170px;
    margin-left: 20px;
    margin-top : 30px;
    
}
.footer_right {
    float :left;
    width: 680px;
    margin-left: 70px;
    margin-top : 30px;
}